body {
  padding: 130px;
  background: gray;
  header{
    max-height: 1000px;
    margin: 0 auto;
    position: relative;
    &:before{
      position: absolute;
      content: '';
      display: block;
      width: 44px;
      height: 44px;
      background: url("../img/m1.png");
      left: -40px;
      top: 50%;
    }
    &:after{
      position: absolute;
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      background: url("../img/m2.svg");
      right: 15%;
      top: -30px;
    }
    h1 {
      font-size: 45px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
    h4 {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
  }
}

  section {
    position: relative;
    //width: 1920px;
    .slide-contein {
      .slick-arrow{
        display: none;
        width: 0;
        height: 0;
        padding: 0;
        border: none;
        font-size: 0;
        &.slick-prev{
          &:before{
            position: absolute;
            top: calc(50% - 48px);
            left: -100px;
            content: '';
            font-size: 0;
            width: 96px;
            height: 96px;
            background: url("../img/left.png");
            z-index: 10;
          }
        }
        &.slick-next{
          &:before{
            position: absolute;
            top: calc(50% - 48px);
            right: -100px;
            content: '';
            font-size: 0;
            width: 96px;
            height: 96px;
            background: url("../img/right.png");
            z-index: 10;
          }
        }
      }

      img{
        margin: 4%;
        padding: 10px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        position: relative;
      }
    }
    //.slick-list{
    //
    //}
  }
